* {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
}    


/*******************************CSS DE NAVBAR******************************/
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-family: 'Roboto', sans-serif;
}
.navbar a:hover {
    background-color: #88d18A;
    border-radius: 8px;
    color: #156064!important;
}
.navbar a:active {
    background-color: #ffc971;
    box-shadow: 0 5px #996901;
    transform: translateY(4px);
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.navbarLogo {
    width: 5em;
}

.bg-light {
    background-color: #da7422!important;
}


@media only screen and (min-width: 991px){
    .navbarLogo{
        width: 5.5em;
    }
}
/*************************CSS DE NAVBAR****************************/
/*********************CSS Logo Index*****************************************/
.coverMiddle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-top: 0.8rem;
}
.coverMiddle img {
    max-width: 100%;
    height: auto;
}
/*********************CSS Logo********************/
/***************CSS Texto Slogan de la home********************/
.slogan {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 4rem;
}
.slogan h3 {
    text-align: center;
    text-justify: inter-word;
    color: #0B6E4F;
    font-family: 'Courgette', cursive;
    font-weight: 600;
    font-size: 1.2em;
}

@media only screen and (min-width:600px) {
    .coverMiddle {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
}
    #homeLogo img {
        max-width: 50%;
}
    .slogan {
        font-size: 3em;
    }
}

@media only screen and (min-width:1050px){
    .coverMiddle {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 100px;
    }
    .coverMiddle img {
        display: flex;
        max-width: 500px;
        max-height: 400px;
    }

    .slogan {
        display: flex;
        max-height: 150px;
        font-family: 'Courgette', cursive;
        font-size: 45px;
    }
}

/********************CSS Texto Slogan de la home*******************+/

/******************CSS del Footer***********************/
#steFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    text-justify: inter-word;
    background-color: #156064;
    height: max-content;
    z-index: 1999;
}
.footerMsg {
    color: #88d18a;
    font-weight: 700;
    font-size: 1.7em;
    font-style: italic;
}
@media only screen and (min-width: 350px) and (max-width: 480px) {
    .footerContacto {
        height: 15%;
    }

    .footerMsg {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1em;
    }
}

#footerGaleria {
    width: 100%;
    bottom: 0;
    text-align: center;
    text-justify: inter-word;
    background-color: #156064;
    height: max-content;
}
#footerGaleria p {
    margin-bottom: 0;
}
/*************************CSS del Footer***********************/
/************************CSS de Servicios************************/
.servicios {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.servicios_head {
    width: 32%;
}

.servicios_texto {
    font-family: Montserrat;
    font-weight: 500;
    text-align: justify;
    width: 80%;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    margin-bottom: 4rem;
}

.servicios_imagenes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.servicios_imagenes img {
    width: 80%;
    height: 20rem;
    margin: 0.7rem 0.7rem 0 0;
}

/********************CSS de Servicios*******************/

/**********************CSS del Formulario*********************/
.main-form h1,
h3 {
    font-family: Satisfy, cursive;
    font-weight: 400;
    color: #0C0C0C;
}
.main-form h1 {
    font-size: 32px;
    text-decoration: underline;
}
.main-form,
.info {
    display: flex;
    flex-direction: column;
}
.main-form {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding-bottom: 4rem;
}
form {
    width: 80%;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #0B6E4F;
}
input,
select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    font-family: Montserrat;
    color: #FFFFFF;
}
input[type=text] {
    color: #FFFFFF;
    font-family: Montserrat;
}
label {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
}
input::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
}
option {
    background: #0d9e9e85;
    font-family: Montserrat;
    border: none;
}
.payment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.checkboxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-left: 4px;
}
label.checkbox {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.buttons button {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.buttons button:hover {
    background: #095484;
}
/***********************CSS del Formulario***********************/
/**************************CSS de la sección TEAM******************/
.team_members {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 60px;
}

.cardD {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px;
}

.cardD:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


.card__picture{
    width: 100%;
    padding: 0;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
}

.member_description {
    padding: 8px 16px;
}


@media only screen and (min-width:1025px){
.team_members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.cardD {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px;
    border-spacing: 0;
    vertical-align: top;
}

.cardD:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


.card__picture{
    width: 100%;
    padding: 0;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
}

.member_description {
    padding: 8px 16px;
}
}