* {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
}    


/*******************************CSS DE NAVBAR******************************/
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-family: 'Roboto', sans-serif;
}
.navbar a:hover {
    background-color: #88d18A;
    border-radius: 8px;
    color: #156064!important;
}
.navbar a:active {
    background-color: #ffc971;
    box-shadow: 0 5px #996901;
    transform: translateY(4px);
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.navbarLogo {
    width: 5em;
}

.navbar-nav {
    margin-left: 1em;
}

.bg-light {
    background-color: #da7422!important;
}


@media only screen and (min-width: 991px){
    .navbarLogo{
        width: 5.5em;
    }
}
/*************************CSS DE NAVBAR****************************/
/*********************CSS Logo Index*****************************************/
.cover-middle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-top: 0.8rem;
}
.cover-middle img {
    max-width: 100%;
    height: auto;
}
/*********************CSS Logo********************/
/***************CSS Texto Slogan de la home********************/
.slogan {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 4rem;
}
.slogan h3 {
    text-align: center;
    text-justify: inter-word;
    color: #0B6E4F;
    font-family: 'Courgette', cursive;
    font-weight: 600;
    font-size: 1.2em;
}

@media only screen and (min-width:600px) {
    .cover-middle {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
}
    #home-logo img {
        max-width: 50%;
}
    .slogan {
        font-size: 3em;
    }
}

@media only screen and (min-width:1050px){
    .cover-middle {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 100px;
    }
    .cover-middle img {
        display: flex;
        max-width: 500px;
        max-height: 400px;
        margin-top: 60px;
    }

    .slogan {
        display: flex;
        max-height: 150px;
        font-family: 'Courgette', cursive;
        font-size: 45px;
    }
}

/********************CSS Texto Slogan de la home*******************+/

/******************CSS del Footer***********************/
.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.7em;
    position: fixed;
    bottom: 0;
    background-color: #156064;
    z-index: 1999;
}

.footer-msg {
    color: #88d18a;
    font-weight: 700;
    font-size: 1.9em;
    font-style: italic;
    padding: 0 0 0.3em 0.3em;
}

.footer-msg:hover {
    color: #cc5803;
}

.footer-guayoyo {
    color: #FFC971;
    font-family: Courgette, italic;
}

.footer-copyright {
    display: none;
}


@media only screen and (min-width:1020px){
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3.5em;
    position: fixed;
    bottom: 0;
    background-color: #156064;
    z-index: 1999;
}

.footer-msg {
    color: #88d18a;
    font-weight: 700;
    font-size: 1.9em;
    font-style: italic;
    padding: 0 0 0.3em 0.3em;
}

.footer-msg:hover {
    color: #cc5803;
}

.footer-msg-ig {
    margin-right: 0.2em;
}

.footer-guayoyo {
    color: #FFC971;
    font-family: Courgette, italic;
}

.footer-copyright {
    display: flex;
    align-items: center;
    color: #f8b6f6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-copyright i {
    margin-right: 0.2em;
}
}

/*************************CSS del Footer***********************/
/************************CSS de Servicios************************/
.servicios {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.servicios_head {
    width: 22em;
}

.servicios_texto {
    font-family: Montserrat;
    font-weight: 500;
    text-align: justify;
    width: 90%;
    margin: 0 1rem 1rem;
    padding: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.servicios_imagenes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.servicios__imgContainer {
    position: relative;
    text-align: center;
    color: #FFC971;
}

.servicios__imagenes__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

#servicios__cumpleaños {
    font-family: Montserrat;
    font-weight: 500;
    color: #1d3557;
    padding-bottom: 5.5em;
}

#servicios__bodas {
    font-family: Courgette, italic;
    color: #cc5803;
    padding-bottom: 00.35em;
}

#servicios__eventos {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: #0eace6;
    padding-top: 4em;
}

.servicios_imagenes img {
    width: 90%;
    height: 20rem;
    border: #156064 2px solid;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}


@media only screen and (min-width:1200px){
.servicios {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.servicios_head {
    width: 32%;
}

.servicios_texto {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2em;
    text-align: justify;
    width: 80%;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    margin-bottom: 4rem;
}

.servicios_imagenes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}

.servicios__imgContainer {
    position: relative;
    text-align: center;
    color: #FFC971;
}

.servicios__imagenes__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

#servicios__cumpleaños {
    font-family: Montserrat;
    font-weight: 500;
    color: #1d3557;
    padding-bottom: 0.35em;
}

#servicios__bodas {
    font-family: Courgette, italic;
    color: #cc5803;
    padding-top: 0.35em;
}

#servicios__eventos {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: #f8b6f6;
    padding-top: 1em;
}

.servicios_imagenes img {
    width: 55rem;
    height: 20rem;
    margin: 0.7rem 0.7rem 0 0;
    border: #156064 2px solid;
    border-radius: 4px;
}
}

/********************CSS de Servicios*******************/

/**********************CSS del Formulario*********************/
.main-form h1,
h3 {
    font-family: Satisfy, cursive;
    font-weight: 400;
    color: #0C0C0C;
}
.main-form h1 {
    font-size: 32px;
    text-decoration: underline;
}
.main-form,
.info {
    display: flex;
    flex-direction: column;
}
.main-form {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding-bottom: 4rem;
}
form {
    width: 80%;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #0B6E4F;
}
input,
select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    font-family: Montserrat;
    color: #FFFFFF;
}
input[type=text] {
    color: #FFFFFF;
    font-family: Montserrat;
}
label {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
}
input::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
}
option {
    background: #0d9e9e85;
    font-family: Montserrat;
    border: none;
}
.payment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.checkboxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-left: 4px;
}
label.checkbox {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.buttons button {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.buttons button:hover {
    background: #095484;
}
/***********************CSS del Formulario***********************/
/*************************CCS GALERíA****************************/
.galeria {
    margin-bottom: 3.8em;
}
@media only screen and (min-width: 900px){
.zoomA {
    transition: transform ease-in-out 0.3s;
}

.zoomA:hover {
    transform: scale(1.2);
}
}


/**************************CSS de la sección TEAM******************/
.team_members {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 60px;
}

.cardD {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px;
}

.cardD:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


.card_picture{
    width: 100%;
    padding: 0;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
}

.member_description {
    padding: 8px 16px;
}


@media only screen and (min-width:1025px){
.team_members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.cardD {
    width: 28%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px;
    border-spacing: 0;
    vertical-align: top;
}

.cardD:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


.card_picture{
    width: 100%;
    padding: 0;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
}

.member_description {
    padding: 8px 16px;
}
}